// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffffff !default;
$header-bg-color: #cfcfcf !default;
$header-bg-color-secondary: #155799 !default;
$header-bg-color-secondary: #ffffff !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #000000 !default;
$body-link-color: #000000 !default;
$hover-title-color: #000000 !default;
$blockquote-text-color: #000000 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #335b77 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #1f3e85 !default;

// home page
$post-list-bg-color: #f7fbfd !default;
